@model ACES.Models.Assignment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/watermark.css" rel="stylesheet" />
</head>

<h2>Create Assignment</h2>

<img id="imageGuide" src="~/images/WatermarkGuide.PNG" alt="Watermark Guide" width="300" height="200" hidden="hidden">
<input type="button" value="Watermark Guide" onclick="ShowGuide()" />
<div id="myModal" class="modal">
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepositoryUrl" class="control-label"></label>
                <input asp-for="RepositoryUrl" class="form-control" />
                <span asp-validation-for="RepositoryUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JSONCode" class="control-label"></label>
                <textarea class="form-control" rows="15">@ViewBag.JSON</textarea>
                <span asp-validation-for="JSONCode" class="text-danger"></span>
            </div>
            <input name="CourseId" value="@ViewBag.CourseId" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Courses" asp-action="CourseAssignments" asp-route-id="@ViewBag.CourseId">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/watermark.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
