@model ACES.Models.Assignment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/watermark.css" rel="stylesheet" />
</head>


<h2>Edit Assignment</h2>

<img id="imageGuide" src="~/images/WatermarkGuide.PNG" alt="Watermark Guide" width="300" height="200" hidden="hidden">
<input type="button" value="Watermark Guide" onclick="ShowGuide()" />
<div id="myModal" class="modal">
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepositoryUrl" class="control-label"></label>
                <input asp-for="RepositoryUrl" class="form-control" />
                <span asp-validation-for="RepositoryUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <input name="CourseId" value="@ViewBag.CourseId" type="hidden" />  <!--Section ID shouldn't be something that can be changed, hidden value passed-->
            <div class="form-group">
                <label asp-for="JSONCode" class="control-label"></label>
                <textarea class="form-control" rows="15">@ViewBag.JSON</textarea>
                <span asp-validation-for="JSONCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanvasLink" class="control-label"></label>
                <input asp-for="CanvasLink" class="form-control" />
                <span asp-validation-for="CanvasLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*This takes us back to CourseAssignments if that's where we came from*@
    @if (ViewBag.From == "courses")
    {
        <a asp-controller="Courses" asp-action="CourseAssignments" asp-route-id="@Model.CourseId">Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>

@section Scripts {
    <script src="~/js/watermark.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
